:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    #EEEEDD; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       #E6E6E6; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Lexend Exa';
}

div.banner {
  background-image: linear-gradient(to bottom,         
  #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.home_new_list_button {
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}

.input-field {
  color: grey;
}

.card, .card-content {
  padding: 10px;
  margin: .5rem .5rem .5rem .5rem;
  cursor: pointer;
}

.item-description {
  font-size: 18px;
  font-weight: bold;
}

.row {
  margin-bottom: 1px;
}

.task-header, .date-header, .status-header {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.task-header:hover, .date-header:hover, .status-header:hover {
  color: #408080;
}

.add-card {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}



.section {
  padding-bottom: 0rem;
  padding-top: 0rem;
}

.trash-can {
  font-size: 40px;
  cursor: pointer;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline:none;
}

.fixed-action-btn {
  position: relative;
  float: right;
}

.setting-button {
  left: -24px;
  bottom: -6px;
}

.main-container {
  margin-top: 5px;
  width: 100%;
  max-width: 1550px;
  height: 800px;
}

#modal1 {
  width: 30%;
}

.modal-close {
  float: left;
}

.item_background {
  background-color: white;
  width: 70%;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.form {
  margin-top: 0px;
}

.item-button {
  padding: 10px;
}

a {
  color: black;
}

.edit-row {
  width: 100%
}

.zoomin, .zoomout {
  padding: 3px;
}

.img {
  max-width: 23px;
  max-height: 23px;
  margin: 3px;
}

.save-button {
  
  margin-right: 5px;
  margin-left: 5px;
  
}

.close-button {
  right: 0%;
}

.edit1 {
  border: 1px solid black;
  width: 100%;
  height: 800px;
  background-color: #ebebeb;
}

.edit2 {
  border: 1px solid black;
  width: 100%;
  height: 800px;
  overflow: auto;
}

.edit3 {
  border: 1px solid black;
  width: 100%;
  height: 800px;
  background-color: #ebebeb;
}

.botBord {
  border-bottom: 1px solid black;
}

.card-width {
  width: 300px;
}

.delete-button {
  transform: translate(-40px, 35px);
}

.update-button {
  transform: translateY(20px);
  max-width: 70px;
}

.display-container {
  width: 150px;
  height: 75px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  
}

.display-container-description {
  transform: translateX(40px);
  font-weight: bold;
}

.display-label {
  transform: translateX(20px);
}

.display-label-description {
  font-weight: bold;
  transform: translateX(50px);
}

.display-submit {
  transform: translateX(20px);
  width: 100px;
  pointer-events: none;
}

.display-submit-description {
  transform: translateX(47px);
  font-weight: bold;
}

.display-textfield {
  width: 150px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  color: #cfcfcf;
  padding-left: 2px;
}

.display-textfield-description {
  transform: translateX(40px);
  font-weight: bold

}

.properties-label {
  font-weight: bold;
  transform: translateY(10px);
}

.properties-box {
  max-width: 250px;
  transform: translateY(10px);
  height: 30px;
  font-size: 14px;
}

.font-size-label {
  font-weight: bold;
  transform: translateY(40px);
}

.font-size-box {
  max-width: 75px;
  transform: translate(-20px,35px);
  height: 35px;
  font-size: 14px;
}

.font-color-label {
  font-weight: bold
}

.font-color-box {
  max-width: 100px;
}

.background-color-label {
  font-weight: bold
}

.background-color-box {
  max-width: 100px;
}

.border-color-label {
  font-weight: bold
}

.border-color-box {
  max-width: 100px;
}

.border-thickness-label {
  font-weight: bold
}

.border-thickness-box {
  max-width: 100px;
}

.border-radius-label {
  font-weight: bold
}

.border-radius-box {
  max-width: 100px;
}

.main-edit-screen {
  width: 950px;
  height: 750px;
  border: 1px solid black;
  transform: translate(30px,25px);
  overflow: auto;
  background: #e5e5e5;
  padding: 1px;
}

.main-wireframer {
  position: absolute;
  transform-origin: top left;
  -moz-transform-origin: 0 0;
  overflow: auto;
}